<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="watch {{item['title']}}">
    <meta name="description" content="{{item['description']}}">
    <meta property="og:image" content="{{ item['image']['link'] }}">
    <meta property="og:description" content="{{item['description']}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="watch {{item['title']}}">
    <meta name="twitter:description" content="{{item['description']}}">
    <meta name="twitter:image" content="{{ item['image']['link'] }}">
    <link type="image/png" rel="icon" href="https://img.icons8.com/bubbles/100/documentary.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{item['title']}}</title>
</head>
<body>
    <div class="header">MovieBuzz</div>
    <div class="body">
        <div class="body1">
            <div class="page-container">
                <h1>{{ item['title'] }}</h1>
                <img src="{{ item['image']['link'] }}" alt="Poster" class="pg-img">
                <p>{{ item['description'] }}</p>
                <br>
                <h2>Watch Online</h2>
                <div class="watch-now">
                    <iframe src="https://myappa-1b93d95e13c0.herokuapp.com/stream/{{item['_id']+11}}?code=item['files'][0]['file_name']" frameborder="0" width="100%" height="100%" allowfullscreen>
                    </iframe>
                </div>
                <h2>ScreenShots</h2>
                {% for screenshot in item['screenshots'][0]%}
                    <img src="{{screenshot['image']}}" alt="" width="90%" class="screenshot"> 
                    <br>
                {% endfor %}
                <h2>Files</h2>
                <br>
                {% set count = 10 %}
                {% for file in item['files']%}
                    {% set count = count + 1 %}
                    <a href="https://myappa-1b93d95e13c0.herokuapp.com/dl/{{item['_id']+count}}?code={{file['file_name']}}" class="files" target="_blank">{{file['file_name']}}</a>
                    <br>
                {% endfor %}
            </div>        
        </div>
        <div class="body2">
            <div class="main-search">
            </div>
            <br>
            <div class="adds">
            </div>
            <br>
            <div class="adds">
            </div>
        </div>
    </div>
    <div class="footer"><a href="https://t.me/yssprojects" target="_blank">Join Telegram Channel</a></div>
</body>
</html>
